{% extends "base.html" %}
{% block title %}О нас{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">О нас</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p class="lead">Фитнес–центр НОРИС в Стерлитамаке — это современный спортивный комплекс с тренажерным залом, фитнес-залом и SPA-салоном.</p>
            <p>Сегодня быть здоровым модно и престижно! Фитнес-центр НОРИС поможет в этом. Различные программы тренировок укрепят ваше здоровье и физическую форму, снимут напряжение и поднимут настроение! Победите себя и откройте дверь фитнес-центра НОРИС! Обретите свое здоровье и красоту!</p>
            <p>Мы работаем с 2015 года и за это время помогли тысячам стерлитамакцев обрести идеальную форму и крепкое здоровье.</p>
        </div>
    </div>
</div>
{% endblock %}