{% extends "base.html" %}
{% block title %}Аппаратная косметология{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Аппаратная косметология в Стерлитамаке</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p>Аппаратная косметология - это проведение косметических процедур при помощи специальной аппаратуры.</p>
            <p>На сегодняшний день оснащенность нашего центра помогает нам бороться с угревой сыпью, старением кожи, целлюлитом, нежелательными рубцами. Мы поможем Вам избавиться от лишнего веса.</p>
            <h4 class="mt-4">Наши процедуры:</h4>
            <ul>
                <li>RF-лифтинг</li>
                <li>Электропорация</li>
                <li>Прессотерапия</li>
                <li>Криолиполиз</li>
                <li>Электромиостимуляция</li>
                <li>Кавитация</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}