{% extends "base.html" %}
{% block title %}Правовые документы{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Правовые документы</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Устав фитнес-центра НОРИС</a>
                <a href="#" class="list-group-item list-group-item-action">Правила посещения тренажерного зала</a>
                <a href="#" class="list-group-item list-group-item-action">Договор оказания услуг</a>
                <a href="#" class="list-group-item list-group-item-action">Политика обработки персональных данных</a>
                <a href="#" class="list-group-item list-group-item-action">Лицензия на медицинскую деятельность</a>
                <a href="#" class="list-group-item list-group-item-action">Сертификаты соответствия</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}