{% extends "base.html" %}
{% block title %}Группа здоровья{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Группа здоровья</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p class="lead">Физическая активность в пожилом возрасте очень полезна. Занятия фитнесом оздоравливают организм в целом и способствуют долголетию.</p>
            <p>В процессе занятий улучшается подвижность суставов, уменьшаются боли в позвоночнике, нормализуется деятельность пищеварительной и сердечно-сосудистой системы, снижается холестерин в крови, улучшается настроение.</p>
            <p>Именно поэтому для пожилых в фитнес-центре НОРИС создана «группа здоровья». Внимательные инструкторы аккуратно проводят занятия пожилым, а 40-минутная длительность позволяет избежать переутомления.</p>
            <div class="alert alert-info mt-4">
                <strong>Расписание:</strong> Занятия проходят по понедельникам и четвергам в 18:00, а также по вторникам и пятницам в 10:00.
            </div>
        </div>
    </div>
</div>
{% endblock %}