{% extends "base.html" %}
{% block title %}Индивидуальные программы{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Индивидуальные программы</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p class="lead">Индивидуальные тренировки возможны по всем направлениям.</p>
            <p>Новички быстрее втянутся в тренировочный процесс, давно занимающиеся увеличат нагрузки. Те, кто по состоянию здоровья не могли тренироваться в группе, смогут заниматься индивидуально. Вы достигнете нужный результат в кратчайшие сроки.</p>
            <p>На персональной тренировке Вы под пристальным вниманием тренера будете заниматься в удобное для вас время.</p>
        </div>
    </div>
</div>
{% endblock %}