{% extends "base.html" %}
{% block title %}Персональный тренинг{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Персональный тренинг</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p class="lead">Чтобы оставаться в прекрасной форме, телу необходима регулярная физическая активность.</p>
            <p>Тренировки под руководством опытного инструктора 3-4 раза в неделю вполне достаточны для того, чтобы поддержать тонус, бодрость и прекрасную форму.</p>
            <p>В нашем фитнес-центре НОРИС за одну тренировку с персональным тренером можно понять, как и по какой системе нужно заниматься. Но освоить самостоятельно сложно, поэтому лучше заниматься с индивидуальным тренером. Он подберет необходимую нагрузку, проследит за правильным выполнением упражнений и не допустит травмоопасность.</p>
            <ul>
                <li>Индивидуальная программа под ваш уровень подготовки</li>
                <li>Контроль техники выполнения упражнений</li>
                <li>Быстрый достижение желаемого результата</li>
                <li>Удобное время занятий</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}