{% extends "base.html" %}
{% block title %}SPA-программы{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">SPA-программы в Стерлитамаке</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h4>SPA-программы для тела</h4>
            <p>Влажные пеленания, обертывания, скрабирование - полный уход за телом.</p>
            <h4 class="mt-3">SPA-программы для лица</h4>
            <p>Глубокое очищение, увлажнение, питание кожи лица.</p>
            <h4 class="mt-3">Влажные пеленания для тела</h4>
            <p>Упругость кожи, антицеллюлитный эффект, похудение.</p>
        </div>
    </div>
</div>
{% endblock %}