{% extends "base.html" %}
{% block title %}Сплит-группа{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Сплит-группа</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p class="lead">Это индивидуальные занятия в составе 2 человек, где вы получаете все преимущества персональной тренировки, но платите на 20% меньше.</p>
            <p>Сплит-группа - отличный вариант для пар, друзей или родственников, которые хотят заниматься вместе, но при этом получать индивидуальный подход тренера.</p>
            <ul>
                <li>Персональное внимание тренера</li>
                <li>Экономия 20% от стоимости персональных тренировок</li>
                <li>Занятия с комфортным для вас человеком</li>
                <li>Индивидуальная программа для двоих</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}