{% extends "base.html" %}
{% block title %}Талассотерапия{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Талассотерапия в Стерлитамаке</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p>Талассотерапия - это лечение морем! Комплекс косметических процедур с применением всех даров моря - морской воды, камней, водорослей, морского ила и грязи.</p>
            <p>Восстановление и омоложение кожи, улучшение кровообращения, лечение целлюлита, положительное влияние на нервную систему - вот лишь некоторые преимущества талассотерапии.</p>
        </div>
    </div>
</div>
{% endblock %}