{% extends "base.html" %}
{% block title %}Термальные процедуры{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Термальные процедуры в Стерлитамаке</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p>Термальные процедуры - это один из самых приятных и древних способов ухода за нашим телом. Самой благоприятной считается температура воды от 37 до 42 градусов.</p>
            <ul>
                <li>Инфракрасная сауна</li>
                <li>Кедровая фитобочка</li>
                <li>Контрастные обливания</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}