{% extends "base.html" %}
{% block title %}Вакансии{% endblock %}
{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Вакансии</h1>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card mb-3">
                <div class="card-body">
                    <h4>Инструктор тренажерного зала</h4>
                    <p>Требования: профильное образование, опыт работы от 1 года, коммуникабельность.</p>
                    <p>Условия: полный день, з/п от 40000 руб., официальное трудоустройство.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h4>Фитнес-инструктор групповых программ</h4>
                    <p>Требования: сертификат фитнес-инструктора, знание различных направлений (йога, пилатес, аэробика).</p>
                    <p>Условия: гибкий график, з/п от 35000 руб.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h4>Массажист</h4>
                    <p>Требования: медицинское образование, сертификат массажиста, опыт от 2 лет.</p>
                    <p>Условия: сменный график, достойная оплата.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h4>Администратор рецепции</h4>
                    <p>Требования: знание ПК, приветливость, стрессоустойчивость.</p>
                    <p>Условия: сменный график 2/2, з/п от 25000 руб.</p>
                </div>
            </div>
            <p class="mt-4 text-center">Отправляйте резюме на email: socnoris@mail.ru</p>
        </div>
    </div>
</div>
{% endblock %}